@{
    ViewData["Title"] = "Core Bar Coffee Shop";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://www.linkedin.com/in/eduwiese/">Please check my CV in case you have any doubt </a>.</p>
</div>
